attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
dacite==1.6.0
decorator==4.4.2
ibm-cloud-sdk-core==3.15.1
ibm-watson==6.0.0
idna==3.3
imageio==2.19.0
imageio-ffmpeg==0.4.7
iniconfig==1.1.1
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
lxml==4.7.1
moviepy==1.0.3
mpmath==1.2.1
networkx==2.8
nose==1.3.7
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pip==21.2.4
pluggy==1.0.0
proglog==0.1.10
py==1.11.0
pycparser==2.21
pydub==0.25.1
PyJWT==2.3.0
pyparsing==3.0.8
pytest==7.1.2
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
setuptools==61.2.0
six==1.16.0
sounddevice==0.4.4
sympy==1.10.1
tomli==2.0.1
tqdm==4.64.0
urllib3==1.26.9
websocket-client==1.1.0
wheel==0.37.1
