autobahn==20.12.3
dacite==1.6.0
ibm_cloud_sdk_core==3.5.2
ibm_watson==5.1.0
moviepy==1.0.3
networkx==2.5.1
pydub==0.24.1
PyYAML==6.0
requests==2.25.1
sounddevice==0.4.1
Twisted==21.7.0
validators==0.18.2
